@import "~bootstrap/scss/bootstrap.scss";

.mainBox{

}
.lightPost {
    height: 12rem;
    width: 2rem;
    margin: auto;
}
.divisor {
    height: 6rem;
    width: 8rem;
    background-color: black;
    margin: auto;
    justify-content: center;
}
.Light {
    border-radius: 100%;
    width: 5rem;
    background-color: #404040;

}
.redLight {
    border-radius: 100%;
    width: 5rem;
    background-color: rgb(201, 0, 0);

}

.yellowLight {
    border-radius: 100%;
    width: 5rem;
    background-color: #D1D700;

}
.greenLight {
    border-radius: 100%;
    width: 5rem;
    background-color: #04D700;
}

